{% extends "layout.html" %}
{% block body %}

  <form method = "get" action = "{{ url_for('show_entries') }}" >
    <select name = "category">
      <option value = "">All Catefories</option>
      {% for category in categories %}
        <option value = "{{ cate.category }}">{{ cate.category} }</option>
      {% endfor %}
    </select>
    <button type = "submit">Submit</button>
  </form>


  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Category:
      <dd><input name = "category" type = "text"  size = "99">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  </form>


  <ul class="entries">

  {% for entry in entries %}

    <li><h2>{{ entry.title }}</h2>
        <p>{{ entry.category }}</p>
        {{ entry.text|safe }}</li>

    <form action = "{{ url_for('delete_entry', entry_id_no = entry.id) }}" method = "post">
      <button type = "submit">Delete the post</button>
    </form>

  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>

  {% endfor %}

  </ul>


{% endblock %}

<script>
  function deleteAlert() {
      alert("Your selected data is deleted.");
  }
</script>
